body {
  background-color: #8DF876;
}

#logo-container {
  background-color: rgb(104, 244, 77);
}

#login {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#logo {
  max-width: 100vw;
}

#sample-card, .favorite {
  max-width: 500px;
}

.pet-card, #sample-card, .favorite {
  border: gray 2px solid; 
  max-height: 600px;
}

.dark-transparent-bg {
  background: rgb(11, 11, 11, 0.75);
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FE7885;
}
/* Clear footer */
.clear {
  clear: both;
  height: 2em;
}

/* Swipe classes */
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}

.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}

/* Display only the first swipable pet card */
.pet-card {
  display: none;
}

.pet-card:first-of-type {
  display: inline-block;
  margin: auto;
}

/* Favorite modal styles */
#get-directions {
  color: cornflowerblue
}

#fav-desc {
  padding: 10px;
  line-height: 2.0;
}

#fav-img {
  border: 2px grey solid;
  margin-top: 10px;
  max-width: 80%;
}

.pet-img {
  max-height: 500px;
}

.green {
  color: green;
}

.red {
  color: red;
}